/* all of our css resets go in here */
*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
    line-height: 1.5;
}


body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Open Sans", sans-serif;
}

.title {
    font-size: 3rem;
    padding: 1rem;
    background-color: lightblue;
    /* transform: translateY(-100px) scale(0.5) rotate(90deg); */
    translate: 0 -100px;
    rotate: 90deg;
    scale: 1.5;
}

