/* all of our css resets go in here */
*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
    line-height: 1.5;
}

section {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Open Sans", sans-serif;
}

.container {
    display: flex;
    gap: 1rem;
    border: 1px solid black;
    height: 500px;
}

.item {
    font-size: 2rem;
    background-color: black;
    color: white;
    width: 75px;
    height: 75px;
    border: solid   red;
    display: flex;
    justify-content: center;
    align-items: center;
}

.item-1 {
    position: sticky;
    top: 100px;


}