body {
    margin: 0;
}

h1,
h2,
h3 {
    border: 3px solid red;
    display: block;
}

p {
    border: 3px solid red;
    display: block;
}
/* inline elements do no have access to the width n height properties */
strong {
    color: red;
    display: inline;
    border: 1px solid red;
    padding-top: 30px;
    padding-bottom: 100px;
}

button {
    display: inline-block;
    width: 50px;
    height: 50px;
    padding-top: 30px;
    padding-bottom: 100px;
    margin-top: 30px;
    margin-bottom: 100px;
}