*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
    line-height: 1.5;
}

/* justify-content aligns items along the main axis */
/* align-items aligns items along the cross axis  */

.container {
    border: 5px solid black;
    width: 600px;
    height: 500px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    /* flex-direction: column; */
    /* justify-content: flex-start;
    align-items: baseline; */
    /* flex-wrap: wrap;
    align-content: space-evenly;
    gap: 5px 16px; */
}

.item {
    width: 100px;
    height: 100px;
    border: 5px solid red;
    background-color: pink;
}


